<% @title = "Cronologia" + $generic_title %>

<div class="container" id="index">
	
	<div class="row">
	
		<div class="col-md-12">

			<h1>Cronologia</h1>
		
			<div id="all-history-events">
				<% @history_events.each do |e| %>
			
					<hr>

					<div class="history-event">
						<div class="history-event-title">
							<h2><%= link_to e.post_title, post_path(e) %></h2>
							<div class="history-event-date">
								<p><%= e.created_at.strftime("%e %B %Y") %></p>
							</div>
						</div>
					</div>
						
				<% end %>
			</div>
	
		</div>
	
	</div>
	
</div>