<div>
	<h1> <%= @post.post_title %> </h1>
	
	<div class="post">
		
		<div class="post_quote">
			<%= simple_format(@post.post_quote) %>
		</div>
		
		<div class="post_body">
			<%= simple_format(@post.post_body) %>
		</div>
		
	</div>
	
</div>