@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ------------- GENERAL SETTINGS ------------- */

body {
	font-family: "Georgia", serif;
}

a {
	text-decoration: underline;
}

a.active {
	cursor: default;
}

#main-content {
	padding: 21px 0 89px;
}

footer {
	background: #eeeeee;
	color: #777777;
	padding: 55px 0 233px;
}



/* ------------- HEADER ------------- */

#header {
	margin-top: 21px;
}



/* ------------- HEADER ------------- */

a.nav-link {
	background: #ffffff;
	border-bottom: 3px solid #ffffff;
	margin-left: 8px;
	text-decoration: none;
}

a.active.nav-link,
a.active.nav-link:hover {
	border-bottom: 3px solid #222222;
	color: #222222;
}

a.nav-link:hover {
	border-color: #007bff;
	color: #007bff;
}



/* ------------- TITLES ------------- */

h1 {
	font-family: "Georgia", serif;
	margin: 0 0 34px;
}



/* ------------- FORMS & BUTTONS ------------- */

.nav-alternative-separator {
	color: #777777;
	padding: 0 8px;
}

.form-cancel {
	color: #DD0000;
	text-transform: lowercase;
}



/* ------------- POST ------------- */

.post {
	margin: 34px 0;
}

#index .post-title {
	margin: 0 0 8px;
}

#show .post-title {
	margin: 0 0 34px;
}

.post-title {
	position: relative;
}

.post-title h1,
.post-title h2 {
	display: inline;
}

.post-title .post-menu {
	display: inline;
	font-family: Arian, sans-serif;
	font-size: 0.79em;
}

.post-title .post-menu a {
	text-decoration: none;
}

.post-title .post-menu ul {
	margin: 0;
	padding: 0;
}

.post-title .post-menu li {
	display: inline;
	margin: 0 0 0 8px;
	text-transform: lowercase;
}

a.delete {
	color: #DD0000;
}

.post-abstract {
	color: #777777;
}

blockquote {
	background: #dd0000;
	box-radius: 3px;
	color: #ffffff;
	font-size: 1.89em;
	font-style: italic;
	margin: 34px 0;
	padding: 89px;
}



/* ------------- TIMELINE ------------- */

#timeline {
	font-family: Arial, sans-serif;
	font-size: 0.7987em;
	margin: 9px 0 0;
}

ul.timeline-container {
	border-left: 1px solid #cccccc;
	list-style: none;
	padding: 0;
}

ul.timeline-container li {
	background: url(timeline-event-marker.svg) left top no-repeat;
	left: -7px;
	padding: 0px 0 34px 21px;
	position: relative;
}

ul.timeline-container li span {
	position: relative;
	top: -3px;
}

ul.timeline-container li:last-child {
	background: url(timeline-event-marker.svg) left top no-repeat #ffffff;
}