@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ------------- GENERAL SETTINGS ------------- */

body {
	font-family: "Georgia", serif;
}

a:link,
a:active {

}

#main-content {
	padding: 21px 0 55px;
}

footer {
	background: #eeeeee;
	color: #777777;
	padding: 55px 0 144px;
}



/* ------------- HEADER ------------- */

#header {
	margin-top: 21px;
}


/* ------------- TITLES ------------- */

h1 {
	font-family: "Georgia", serif;
}


/* ------------- FORMS & BUTTONS ------------- */

.nav-alternative-separator {
	color: #777777;
	padding: 0 8px;
}

.form-cancel {
	color: red;
	text-transform: lowercase;
}



/* ------------- POST ------------- */

.post {
	margin: 34px 0;
}

.post-title {
	margin: 0 0 34px;
	position: relative;
}

.post-title h1,
.post-title h2 {
	display: inline;
}

.post-title .post-menu {
	display: inline;
	font-family: Arian, sans-serif;
	font-size: 0.89em;
}

.post-title .post-menu ul {
	margin: 0;
	padding: 0;
}

.post-title .post-menu li {
	display: inline;
	margin: 0 0 0 8px;
}

blockquote {
	background: #dd0000;
	box-radius: 3px;
	color: #ffffff;
	font-size: 1.89em;
	font-style: italic;
	margin: 34px 0;
	padding: 89px;
}

/* --- TEST --- */